/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 20.GB
    max_time   = 6.h

    skip_kraken = true
}

process {
    withLabel:process_low {
        cpus   =  4
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  4
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  4
        memory = 4.GB
        time   = 4.h
    }
}
