/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Limit resources so that this can run on GitHub Actions
    cpus   = 2
    memory = 4.GB
    time   = 4.h
}

process {
    withLabel:process_single {
        cpus   =  1
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   =  2
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  2
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  2
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_high_memory {
        memory = 4.GB
    }
}
