params {
    config_profile_name        = 'Light profile'
    config_profile_description = 'Profile for personal computers'


    db_cache = false
    use_ppanggolin = true
    use_fasttree = true
    enable_subsetting = true
    use_prokka = true
    skip_kraken = true
    skip_poppunk = true
    annotation_tools = 'mobsuite,rgi,vfdb,report'
}

process {
    withLabel:process_single {
        cpus   =  1
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   =  6
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  6
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  6
        memory = 8.GB
        time   = 4.h
    }
    withLabel:process_high_memory {
        memory = 8.GB
    }
}
