params {
    config_profile_name        = 'Medium profile'
    config_profile_description = 'Profile for 100-1000 sample datasets'

    use_ppanggolin = true
    use_fasttree = true
}

process {
    withLabel:process_medium {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 16    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 200.GB, 'memory' ) }
    }
}
