/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/arete -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input_sample_table = "https://raw.githubusercontent.com/beiko-lab/arete/master/test/test_dataset.csv"
    db_cache = false
    use_full_alignment = false
    use_fasttree = true
    enable_subsetting = true
    use_prokka = true
    skip_kraken = true
    skip_poppunk = true
    light = true
}

process {
    // Limit resources so that this can run on GitHub Actions
    cpus   = 2
    memory = 6.GB
    time   = 4.h

    withLabel:process_single {
        cpus   =  1
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   =  2
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  2
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  2
        memory = 6.GB
        time   = 4.h
    }
}
