/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run beiko-lab/ARETE -entry annotation -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input_sample_table = "$projectDir/test/test_full_samplesheet.csv"
    annotation_tools = 'mobsuite,rgi,vfdb,report'
    use_prokka = true
    poppunk_model = "bgmm"
    use_ppanggolin = true
}

process {
    // Limit resources so that this can run on GitHub Actions
    cpus   = 4
    memory = 6.GB
    time   = 4.h

    withLabel:process_single {
        cpus   =  1
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   =  4
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  4
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  4
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_high_memory {
        memory = 6.GB
    }
}
