/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/arete -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 20.GB
    max_time   = 6.h

    // Input data
    input_sample_table = "test/test_dataset.csv"
    use_bakta = false
    db_cache = false
    use_full_alignment = true
    use_fasttree = true
    skip_kraken = true
}

process {
    withLabel:process_low {
        cpus   =  2
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  2
        memory = 4.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  2
        memory = 4.GB
        time   = 4.h
    }
}
